<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet"  href="../static/index.css"><title>About</title></head>
    <body>
    	<div class="topnav">
          <a href="../templates/index.html">Home</a>
          <a href="../templates/SNumber.html">By Number</a>
          <a href="../templates/SText.html">By Title</a>
          <a id="about" class="active" href="../templates/About.html">About</a>
    </div>
    <br>
    <div class="main">
    	<fieldset>
    		<legend>
    				Team- CRACK_CODE
    		</legend>

    		<ul type="none">
                <li>Pranshu Kharkwal</li>
                <li>Rohan Raj Kansal</li>
                <li>Divyasheel Kumar</li>
                <li>Priyam Seth</li>
            </ul>
        
    </div>
    </body>
     <footer>
        Made by TEAM Crack_code
    </footer>
</html>