<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="../static/index.css">
    <title>Home Page</title>
    
    </head>
        
    <body>
        
    <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="../templates/SNumber.html">By Number</a>
          <a href="../templates/SText.html">By Title</a>
          <a  id="about" href="../templates/About.html">About</a>
    </div>
    <br>
    <div class="intro">
            <center>
                <p id="patent"><b><h1>PATENT RECOGINITION</h1></b></p>
                <p>We have designed an ML model to classify patent numbers. Proceed further to experience the classification.</p>
                 <form action={{url_for('Select')}} method = 'POST'>
                <select name='options'>
                    <option value='None'>None</option>
                    <option value = 'SText'> Search By Title</option>
                    <option value = 'SNumber'> Search By Patent Number</option>
                </select>
                &nbsp&nbsp&nbsp &nbsp
                <input class="button" type='submit' value='SELECT'>
            </form>
                
            </center>
        </div>
       
       
    </body>
    <footer>
        Made by TEAM Crack_code
    </footer>
</html>